@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: 'PT Sans', sans-serif;
}

.bloco{
    width: 100%;
    height: 600px;
}

.branco{
    background-color: #faf9f9;
    display: block;
}

.preto{
    background-color: #2e2e3a;
}

.container{
    width: 100%;
    height: auto;
}

.home{
    width: 100%;
    height: 600px;
    background-image: url(../images/Home.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center center;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color:rgba(102, 102, 102, 0.294);

}

.navbar ul li{
    color: rgb(255, 255, 255);
    display: inline-block;

    float: right;

    margin: 30px 50px 30px 0;
    font-size: 24px;
    
    opacity: 1;
}

.home h2{
    color: white;
    font-size: 64px;
    /* float: right; */
    text-align: right; 
    margin: 300px 50px 0 0;
    font-weight: bold;
}

.home h3{
    color: white;
    font-size: 32px;
    /* float: right; */
    text-align: right; 
    margin: 20px 60px 0 0;
    font-weight: 600;
}

/* Slide 2 */

.esquerda{
    width: 58%;
    height: 100%;
    
    float: left;
    
}
.esquerda h3{
    font-size: 56px;
    font-weight: bold;
    margin: 50px 30px;
}
.esquerda ul li{
    font-size: 36px;
    margin: 40px 30px;
}
.direita{
    width: 39%;
    height: 100%;
    float: right;
    display: inline-block;
    background-image: url(../images/home2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Slide 3 */

.conteudo{
    width: 100%;
    height: 100%;
    color: #faf9f9;
    padding-top: 50px;
    box-sizing: border-box;
}

h3{
    font-size: 56px;
    font-weight: bold;
    margin: 0 40px;
    
}

.conteudo p{
    font-size: 36px;
    margin: 50px 30px;
}

/* Dois icones */

.icones{
    width: 320px;
    height: 150px;
    /* text-align: center; */
    position: relative;
    margin: auto;
    margin-bottom: 200px;
    bottom: 80px;
}
.icone_A,.icone_B{
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 10px;
    
    background-color: #c4c4c4;
    
}
.icone_B{
    
    float: right;
    
}
.fas{
    width: 100%;
    height: 100%;
}
.icone_A i{
    font-size: 130px;
    color: #111111;
    margin: auto;
    padding: 10px 0 0 15px;
}
.icone_B i{
    font-size: 110px;
    color: #111111;
    margin: auto;
    padding: 15px 5px;
}

.equipe{
 padding: 250px 520px;
 box-sizing: border-box;
}
.fotos{
    width: 900px;
    height: 200px;
    margin: auto;
    position: relative;
    bottom: 100px;
}
.foto1, .foto2,.foto3,.foto4{
    background-color: #c4c4c4;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 25px 35px;
    border-radius: 10px;
}